<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Operations</key>
	<dict>
		<key>getSchedule</key>
		<string>/operations/schedules/%@/%@/%@</string>
	</dict>
	<key>Oauth</key>
	<dict>
		<key>getToken</key>
		<string>/oauth/token</string>
	</dict>
	<key>References</key>
	<dict>
		<key>getAirPorts</key>
		<string>/references/airports</string>
	</dict>
</dict>
</plist>
